Repository ianhomer/try-jest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

🔧 remove pre-push
  .husky/pre-push
  package.json
Due: prettier --write

✅ fake timer test
  package.json
  pnpm-lock.yaml
  src/timer.test.ts
  src/timer.ts
  tsconfig.json
Due: prettier --write, eslint

⬆️ upgrade all to latest
  package.json
  pnpm-lock.yaml
Due: prettier --write

🔧 tweak linting
  .lintstagedrc.json
  package.json
Due: prettier --write

📦️ add react package
  .gitignore
  .husky/pre-commit
  .npmrc
  packages/try-jest-react/README.md
  packages/try-jest-react/package.json
  packages/try-jest-react/public/favicon.ico
  packages/try-jest-react/public/index.html
  packages/try-jest-react/public/logo192.png
  packages/try-jest-react/public/logo512.png
  packages/try-jest-react/public/manifest.json
  packages/try-jest-react/public/robots.txt
  packages/try-jest-react/src/App.css
  packages/try-jest-react/src/App.test.tsx
  packages/try-jest-react/src/App.tsx
  packages/try-jest-react/src/index.css
  packages/try-jest-react/src/index.tsx
  packages/try-jest-react/src/logo.svg
  packages/try-jest-react/src/react-app-env.d.ts
  packages/try-jest-react/src/reportWebVitals.ts
  packages/try-jest-react/src/setupTests.ts
  packages/try-jest-react/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint

🚚 move try-jest-typescript into package
  .prettierignore
  package.json
  packages/try-jest-react/package.json
  packages/try-jest-typescript/babel.config.json
  packages/try-jest-typescript/package.json
  packages/try-jest-typescript/src/code.test.ts
  packages/try-jest-typescript/src/code.ts
  packages/try-jest-typescript/src/mask.test.ts
  packages/try-jest-typescript/src/mask.ts
  packages/try-jest-typescript/src/sum.test.ts
  packages/try-jest-typescript/src/sum.ts
  packages/try-jest-typescript/src/timer.test.ts
  packages/try-jest-typescript/src/timer.ts
  packages/try-jest-typescript/tsconfig.json
Due: prettier --write, eslint

🔧 remove test watch for react jest
  packages/try-jest-react/package.json
Due: prettier --write

🧪 assertion that timer should tick
  packages/try-jest-react/package.json
  packages/try-jest-react/src/App.test.tsx
  packages/try-jest-react/src/App.tsx
  packages/try-jest-react/src/Timer.test.tsx
  packages/try-jest-react/src/Timer.tsx
  packages/try-jest-react/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

✅ add interval fakey
  packages/try-jest-react/src/Timer.test.tsx
  packages/try-jest-react/src/Timer.tsx
Due: none

♻️ inline useEffect
  packages/try-jest-react/src/Timer.tsx
Due: none

✅ encapsulate timer ticks
  packages/try-jest-react/src/Timer.test.tsx
  packages/try-jest-react/src/Timer.tsx
Due: none

♻️ rename function
  packages/try-jest-react/src/Timer.test.tsx
Due: none

✨ TDD on version function
  packages/try-jest-typescript/src/version.test.ts
  packages/try-jest-typescript/src/version.ts
Due: prettier --write, eslint

✅ expand on unit tests
  packages/try-jest-typescript/src/version.test.ts
Due: prettier --write, eslint

♻️ change to named matching groups
  packages/try-jest-typescript/src/version.ts
Due: prettier --write, eslint

♻️ refine
  packages/try-jest-typescript/src/version.test.ts
  packages/try-jest-typescript/src/version.ts
Due: prettier --write, eslint

✅ add further non-parsable versions
  packages/try-jest-typescript/src/version.test.ts
Due: prettier --write, eslint

♻️ don't absrtact increment
  packages/try-jest-typescript/src/version.ts
Due: prettier --write, eslint

🐛 handle undefined branch
  packages/try-jest-typescript/src/version.test.ts
  packages/try-jest-typescript/src/version.ts
Due: prettier --write, eslint

✅ add extra jest types
  packages/try-jest-react/README.md
  packages/try-jest-react/package.json
  packages/try-jest-react/public/favicon.ico
  packages/try-jest-react/public/index.html
  packages/try-jest-react/public/logo192.png
  packages/try-jest-react/public/logo512.png
  packages/try-jest-react/src/Actor.test.tsx
  packages/try-jest-react/src/Actor.tsx
  packages/try-jest-react/src/App.tsx
  packages/try-jest-react/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

🚨 remove unnecessary import react
  packages/try-jest-react/src/Actor.test.tsx
  packages/try-jest-react/src/Actor.tsx
  packages/try-jest-react/src/App.test.tsx
  packages/try-jest-react/src/App.tsx
  packages/try-jest-react/src/Timer.test.tsx
  packages/try-jest-react/src/Timer.tsx
Due: none

✅ add click with count
  packages/try-jest-react/src/Actor.test.tsx
  packages/try-jest-react/src/Actor.tsx
  packages/try-jest-react/src/App.tsx
Due: none

🚨 add linting into pipeline
  .github/workflows/build.yaml
  package.json
  packages/try-jest-react/package.json
  packages/try-jest-react/src/Actor.test.tsx
  packages/try-jest-react/src/Actor.tsx
  packages/try-jest-react/src/App.test.tsx
  packages/try-jest-react/src/App.tsx
  packages/try-jest-react/src/Timer.test.tsx
  packages/try-jest-react/src/index.css
  packages/try-jest-react/src/index.tsx
  packages/try-jest-typescript/package.json
Due: prettier --write

🚨 add tsx to lint and prettier
  .lintstagedrc.json
Due: prettier --write

🔨 add test:watch
  packages/try-jest-react/package.json
Due: prettier --write

✅ assert tracing of rendering
  packages/try-jest-react/src/Actor.test.tsx
  packages/try-jest-react/src/Actor.tsx
  packages/try-jest-react/src/TraceContext.tsx
Due: none

✅ assert logic execution order
  packages/try-jest-react/src/Actor.test.tsx
  packages/try-jest-react/src/Actor.tsx
Due: none

✅ ts-auto-mock
  packages/try-jest-typescript/config.ts
  packages/try-jest-typescript/package.json
  packages/try-jest-typescript/src/auto-mock.test.ts
  packages/try-jest-typescript/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

⬆️ update node packages
  package.json
  packages/try-jest-typescript/config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

⬇️ take ts-jest back to 28.0.8
  package.json
  packages/try-jest-typescript/config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

⬇️ downgrade jest and babel-jest to 28 compatible
  package.json
  pnpm-lock.yaml
Due: prettier --write

✅ try-jest
  packages/try-jest-typescript/package.json
  packages/try-jest-typescript/src/describe.test.ts
  packages/try-jest-typescript/src/spy.side-effect.test.ts
  packages/try-jest-typescript/src/spy.test.ts
  packages/try-jest-typescript/src/utils.ts
Due: prettier --write, eslint

📦️ update package dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

✅ match object test
  packages/try-jest-typescript/src/match-object.test.ts
Due: prettier --write, eslint

✅ test match object variations
  packages/try-jest-typescript/src/match-object.test.ts
Due: prettier --write, eslint

⚗️ experiment with extends
  packages/try-jest-typescript/jest-setup-after-env.ts
  packages/try-jest-typescript/jest-setup.ts
  packages/try-jest-typescript/package.json
  packages/try-jest-typescript/src/extend.test.ts
  packages/try-jest-typescript/src/types/index.d.ts
  packages/try-jest-typescript/tsconfig.json
Due: prettier --write, eslint

📦️ update typescript and jest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

🚨 lint fix
  package.json
  packages/try-jest-typescript/package.json
  pnpm-lock.yaml
Due: prettier --write

📦️ bring typescript back to 5.0.4 for eslint compatibility
  package.json
  pnpm-lock.yaml
Due: prettier --write

📦️ update node to v20 in CI
  .github/workflows/build.yaml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,json,yaml}
  eslint: any of: *.{js,ts}
